In [652]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [653]:
df = pd.read_excel("temp.xlsx")
df.tail()

     year  mon   avg
547  1996    8  20.7
548  1996    9  14.1
549  1996   10  12.2
550  1996   11   8.3
551  1996   12  -0.9

In [654]:
type (df["year"])

pandas.core.series.Series

In [655]:
df["year"].tail()

547    1996
548    1996
549    1996
550    1996
551    1996
Name: year, dtype: int64

In [656]:
df1 = df[ df.year < 1980 ]
df2 = df1[df1.year>=1970]
df2.tail()

     year  mon   avg
343  1979    8  18.6
344  1979    9  15.9
345  1979   10   9.8
346  1979   11   6.1
347  1979   12   4.4

In [657]:
all ( df.avg <0)

False

In [658]:
yr1994 = df[ df.year == 1994].avg
yr1994.plot

<bound method Series.plot_series of 516     3.8
517     3.0
518    10.6
519    11.3
520    16.1
521    19.8
522    23.0
523    22.5
524    19.0
525     9.7
526     7.9
527     2.3
Name: avg, dtype: float64>

In [659]:
df[df.mon==1]

     year  mon  avg
0    1951    1  2.9
12   1952    1 -0.4
24   1953    1 -0.2
36   1954    1 -4.8
48   1955    1  1.2
60   1956    1  3.1
72   1957    1 -3.7
84   1958    1  1.7
96   1959    1  0.6
108  1960    1 -1.1
120  1961    1 -0.9
132  1962    1 -0.3
144  1963    1 -6.2
156  1964    1 -7.0
168  1965    1  1.6
180  1966    1 -3.0
192  1967    1 -2.2
204  1968    1 -1.7
216  1969    1 -1.9
228  1970    1 -0.9
240  1971    1 -0.9
252  1972    1 -1.0
264  1973    1 -0.6
276  1974    1  1.5
288  1975    1  4.6
300  1976    1  1.4
312  1977    1  2.3
324  1978    1  0.7
336  1979    1 -1.9
348  1980    1 -1.8
360  1981    1 -2.4
372  1982    1 -1.8
384  1983    1  3.3
396  1984    1  0.5
408  1985    1 -5.4
420  1986    1  0.9
432  1987    1 -3.1
444  1988    1  3.7
456  1989    1 -0.8
468  1990    1 -0.1
480  1991    1  1.9
492  1992    1  1.9
504  1993    1  1.5
516  1994    1  3.8
528  1995    1  1.2
540  1996    1 -0.7

In [660]:
g = df.groupby("mon")
g.aggregate(np.mean).avg.plot()

In [661]:
df.groupby("mon").aggregate(np.mean).avg.plot();

In [662]:
df.corr()

          year       mon       avg
year  1.000000  0.000000  0.028486
mon   0.000000  1.000000  0.204373
avg   0.028486  0.204373  1.000000

In [663]:
df[["mon","avg"]].corr()

          mon       avg
mon  1.000000  0.204373
avg  0.204373  1.000000

In [664]:
sf = df[["mon","avg"]]
sf[sf.mon <= 6].corr()

          mon       avg
mon  1.000000  0.951534
avg  0.951534  1.000000

In [665]:
sf[sf.mon >=6].corr()

          mon       avg
mon  1.000000 -0.909229
avg -0.909229  1.000000

In [666]:
prosjek = df.groupby("mon").aggregate(np.mean).avg.values
prosjek[0]

-0.31521739130434789

In [667]:
def f_odst(m,a):
    return(a-prosjek[m-1])

In [668]:
f_odst(m=1,a=2.9)

3.215217391304348

#kako obrisati stupac

In [669]:
df["odst"] = f_odst(m=df["mon"],a=df["avg"])

In [670]:
df["novi_stupac"]=0
del df["novi_stupac"]

# kako preimenovati stupce dataframe objekta

In [671]:
df.columns = ["YEAR", "MON", "AVG", "ODST"]

#NAJHLADNIJI SIJECANJ, NAJTOPLIJI SRPANJ

In [672]:
df[df.MON == 1.].min(), df[df.MON==7].max()

(YEAR    1951.000000
 MON        1.000000
 AVG       -7.000000
 ODST      -6.684783
 dtype: float64, YEAR    1996.000000
 MON        7.000000
 AVG       23.000000
 ODST       2.563043
 dtype: float64)

In [673]:
df.groupy("MON").aggregate(min).AVG

AttributeError: 'DataFrame' object has no attribute 'groupy'

In [ ]:
df["A"]

#napraviti novi stupac u koji ce se spremiti prosjecna temperatura u fahrhenheitima

In [ ]:
df["fahren"] = 0
df["fahren"] = 1.8*df.AVG + 32
df.head()